# GOAL
Understand Qlik Cloud APIs and their Python implementation

# PACKAGES

In [14]:
from qlik_sdk import Apps, AuthType, Config, Auth, Qlik
import os
import pandas as pd

# PARAMETERS

In [3]:
api_key = os.getenv('QLIK_CLOUD_API_KEY_JM')
base_url = "https://jmbenedetto.us.qlikcloud.com"

# FUNCTIONS

# DATA WRANGLING

In [4]:
auth = Auth(Config(host=base_url, auth_type=AuthType.APIKey, api_key=api_key))

qlik = Qlik(Config(host=base_url, auth_type=AuthType.APIKey, api_key=api_key))
user_me = qlik.users.get_me()

# For REST calls: auth.rest
# For RPC calls: auth.rpc

## List objects in tenant

### Spaces

In [5]:
spaces=qlik.spaces.get_spaces()

In [10]:
for space in spaces:
    print(space.id, space.name)

628a97668c145a828f83cf23 Heritage
628edb644a69e5ae40c55235 La Totale
62c4c532b8a357be7affa78d Value Engineering

In [16]:
pd.DataFrame([{'id':space.id,'name':space.name,'type':space.type} for space in spaces])

                         id               name    type
0  628a97668c145a828f83cf23           Heritage  shared
1  628edb644a69e5ae40c55235          La Totale  shared
2  62c4c532b8a357be7affa78d  Value Engineering  shared